<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="popup-vote.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap" rel="stylesheet" />
    <title></title>

    <style>
      body {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <div class="popup-vote">
      <img src="popup-checkmark.png" class="popup-img" />

      <h2 class="popup-title">VOTE SUBMISSION<br />SUCCESSFUL</h2>
      <p class="popup-info">Thank you for casting your vote! Your vote has been successfully recorded on the blockchain. Click 'Next' to view your voter transaction receipt.</p>
      <button>Next</button>
    </div>
  </body>
</html>
