<!-- popup-vote.ejs -->
<div class="popup-vote">
  <img src="<%= popupImg || 'popup-checkmark.png' %>" class="popup-img" />
  <h2 class="popup-title">VOTE SUBMISSION<br />SUCCESSFUL</h2>
  <p class="popup-info">Thank you for casting your vote! Your vote has been successfully recorded on the blockchain. Click 'Next' to view your voter transaction receipt.</p>
  <button>Next</button>
</div>
